name: Veracode Static Analysis - Pipeline Scan And Fix
on: workflow_dispatch

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      name: veracode-artifact
      path: ./veracode_artifact_directory
    secrets: inherit

  prepare_pipeline_scan:
    runs-on: ubuntu-latest
    name: Prepare Pipeline Scan
    needs: build
    outputs:
      matrix_files: ${{ steps.get-files.outputs.matrix_files }}

    steps:
      - name: Check out main branch
        uses: actions/checkout@v6

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: veracode-artifact
          path: ./veracode_artifact_directory

      - name: Get list of files for matrix
        id: get-files
        run: |
          files=$(ls -1 veracode_artifact_directory | jq -R . | jq -s .)
          echo "Files for matrix: $files"
          files=$(echo $files | jq -c .)  # Compact the JSON array to a single line
          echo "matrix_files=$files" >> $GITHUB_OUTPUT
        shell: bash

  pipeline_scan:
    name: Pipeline Scan
    runs-on: ubuntu-latest
    needs: [build, prepare_pipeline_scan]
    strategy:
      matrix:
        file: ${{fromJson(needs.prepare_pipeline_scan.outputs.matrix_files)}}

    steps:
      - name: Check out main branch
        uses: actions/checkout@v6

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: veracode-artifact
          path: ./veracode_artifact_directory
      
      - name: Debug Matrix Content
        run: |
          echo "Raw matrix files: ${{ needs.prepare_pipeline_scan.outputs.matrix_files }}"
          echo "Current Matrix: ${{ matrix }}"
          echo "Current File: ${{ matrix.file }}"

      - name: Download Pipeline Scan
        run: |
          curl -fsSL -O https://downloads.veracode.com/securityscan/pipeline-scan-LATEST.zip

      - name: Unzip the Pipeline Scanner
        run: unzip -o pipeline-scan-LATEST.zip

      - name: Run Pipeline Scanner
        run: | 
          java -Dpipeline.debug=true -jar pipeline-scan.jar \
            --veracode_api_id "${{secrets.VERACODE_API_ID}}" --veracode_api_key "${{secrets.VERACODE_API_KEY}}" \
            --file "./veracode_artifact_directory/${{ matrix.file }}" \
            --emit_stack_dump true \
            --summary_output true \
            --summary_output_file ${{ strategy.job-index }}-results.txt \
            --json_output true \
            --json_output_file ${{ strategy.job-index }}-results.json \
            --filtered_json_output_file ${{ strategy.job-index }}-filtered_results.json \
            --policy_name 'Veracode Recommended Very High'
        continue-on-error: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.file }}
          path: '*-results.*'

      # - name: Convert pipeline scan output to SARIF format
      #   if: always()
      #   # create code scanning alerts
      #   uses: veracode/veracode-pipeline-scan-results-to-sarif@master
      #   with:
      #     pipeline-results-json: ${{ strategy.job-index }}-filtered_results.json
      #     output-results-sarif: veracode-results.sarif
      #     ref: ${{ github.ref }}
      #     commitSHA: ${{ github.sha }}

      # - name: Create flaws as issues
      #   if: ${{ inputs.create_issue && always() }}
      #   uses: veracode/veracode-flaws-to-issues@v2.2.25
      #   with:
      #     scan-results-json: ${{ strategy.job-index }}-filtered_results.json
      #     repo_owner: ${{ github.repository_owner }}
      #     github-token: ${{ github.token }}
      #     repo_name: ${{ github.event.repository.name }}
      #     commitHash: ${{ github.sha }}

  # veracode_fix:
  #   name: Veracode Fix
  #   runs-on: ubuntu-latest
  #   needs: pipeline_scan

  #   steps:
  #     - name: Checkout repo
  #       uses: actions/checkout@v6

  #     - name: Get flaw file
    