name: Veracode Static Analysis - Upload And Scan
on: workflow_dispatch

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      name: veracode-artifact
      path: ./veracode_artifact_directory
    secrets: inherit

  policy_scan:
    name: Veracode Static Analysis - Policy Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: veracode-artifact
          path: ./veracode_artifact_directory

      - name: Veracode Upload And Scan
        uses: veracode/veracode-uploadandscan-action@0.2.11
        with:
          appname: "GitHub Actions - python-lets-be-bad-guys"
          createprofile: true
          teams: "Default Team"
          deleteincompletescan: 1
          debug: false
          filepath: "./veracode_artifact_directory"
          vid: "${{ secrets.VERACODE_API_ID }}"
          vkey: "${{ secrets.VERACODE_API_KEY }}"
          # createsandbox: 'true'
          # sandboxname: 'SANDBOXNAME'
          scantimeout: 60 # minutes waiting for scan to complete. used for breaking the build
          # exclude: '*.js'
          # include: '*.war'
          criticality: "VeryHigh"
          # policy: ''
